@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Glegoo:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: "smooth"
}
  
*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  background-color: #fff;
  
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Overview, #Amenities, #Plans, #Walkthrough, #Location-Advantages{
  scroll-margin-top: 70px;
}

#Enquire-Now{
  scroll-margin-top: 100px;
}



@media (min-width: 1025px) {
  body {
      font-size: 16px;
  }
}

.navbar {
  padding: 8px 20px 10px 20px;
}

a{
  text-decoration: none;
  color: #2C7865;
}

a:hover{
  color: #1B4242;
  font-weight: 600;
}

.container{
  width: 95vw;
  height: 400px;
  z-index: 0;
  display:flex;
  justify-content:center;
  align-items:center;
}














